<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Title</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
    <% if current_user %>
      <%= image_tag current_user.avatar_url, class: "image-topbar" %>
      <span><%= current_user.username %></span>
      <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="demo-menu-lower-right">
        <li class="mdl-menu__item"><%= link_to 'Sign Out', sign_out_path %></li>
      </ul>
    <% else %>
      <%= link_to "Sign in with Github", "/auth/github" %>
    <% end %>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Title</span>
  <div class="">
    <%= form_for(Project.new) do |f| %>
    <div class="field">
      <%= f.label :project_name %><br />
      <%= f.text_field :project_name %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
  <% if current_user %>
    <nav class="mdl-navigation">
  <% Project.all.each do |project| %>
      <a class="mdl-navigation__link"  href="/projects/<%= project.id %>"><%= project.project_name %></a>
  <% end %>
    </nav>
  <% end %>
</div>
